{% extends "shared/base.html" %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript">
    const data = {{ data | safe }};
</script>

<script src="{{ url_for('static', filename='js/createpuzzle.js') }}"></script>


<!-- Script for number counter -->
<!-- Source: https://tailwindcomponents.com/component/number-input-counter -->
<style>
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    .custom-number-input input:focus {
      outline: none !important;
    }
  
    .custom-number-input button:focus {
      outline: none !important;
    }
  </style>
{% endblock %}

{% block content %}
<div class="bg-blue-800 px-3 py-3">
    <h2 class="float-left text-3xl font-light text-white mt-1">
        <a href="/admin/puzzle">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
        </a>
    </h2>
    <a href="/admin">
        <h2 class="text-4xl py-0 font-bold text-white italic text-center">
            CarStep
        </h2>
    </a>
</div>


<div class="pl-16 pr-16 pt-14 clear-both">
    <div class="flex">
        <h2 class="text-left text-3xl font-semibold text-grag-800 mb-10">Create Puzzle</h2>
        <div class="w-18 h-10 px-4 ml-3">
            <button class="bg-blue-800 text-white text-base active:bg-blue-900 font-bold text-xs px-6 py-2 p-0 m-0 rounded shadow hover:bg-blue-600 ease-linear transition-all duration-150"
                type="button" onclick="openDropdown(event,'stageDropdown')">
                Stage <span id="currentStage"></span> <i class="fa fa-caret-down ml-1"></i>
            </button>
            <div id="stageDropdown" class="w-36 hidden bg-white text-base z-50 py-2 list-none text-left rounded shadow-lg">
            </div>
        </div>
    </div>

    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <!-- Input Puzzle Name -->
            <h2 class="text-2xl font-semibold">Name of Puzzle:</h2>
            <div class="mb-3 pt-0">
                <input type="text" placeholder="Puzzle Name" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:ring w-full"/>
            </div>
            <div class="flex justify-between">
                <!-- Input Puzzle difficulty -->
                <div class="mb-3 pt-0">
                        
                    <h3 class="text-2xl font-semibold mb-2">Difficulty Level:</h3>
                    <div class="flex custom-number-input h-10 w-32">
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" class=" bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                            <button data-action="increment" class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                            <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                </div>
                            
                <!-- Input Puzzle Steps Required -->
                <div class="mb-3 pt-0">
                    <h3 class="text-2xl font-semibold mb-2">Steps Required:</h3>
                    <div class="flex custom-number-input h-10 w-32">
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" class=" bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                            <button data-action="increment" class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                            <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Input Directions -->
            <h2 class="text-2xl font-semibold -mt-2">Directions:</h2>
            <ul id="option" class="connectedSortable ml-auto flex items-center -ml-3">
                <li id="F" class="bg-blue-300 bg-opacity-60 border border-blue-400 p-3 m-3 shadow-lg rounded-lg">Move Forward</li>
                <li id="B" class="bg-blue-400 bg-opacity-60 border border-blue-400 p-3 m-3 shadow-lg rounded-lg">Move Backward</li>
                <li id="L" class="bg-indigo-300 bg-opacity-90 border border-indigo-400 p-3 m-3 shadow-lg rounded-lg">Turn Left</li>
                <li id="R" class="bg-purple-300 bg-opacity-90 border border-purple-400 p-3 m-3 shadow-lg rounded-lg">Turn Right</li>
            </ul>

            <!-- Input direction number TODO -->
            <p class="mt-5 mb-2 float-left">Drag and drop the directions down here &#8595;</p>
            <p id="direction_num" class="mt-5 mb-2 float-right">0/15</p>
            <ul id="option_selected" class="connectedSortable clear-both h-72 w-auto ml-auto flex flex-wrap content-start items-center bg-blue-200 bg-opacity-75 mb-8"></ul>
            <div id="puzzlebutton" class="flex justify-center text-center -mt-4">
                <button type="button" class="clear flex m-3 pl-10 bg-red-400 bg-opacity-50 hover:bg-red-300 py-4 px-8 shadow-lg rounded-lg">Clear</button>
                <!-- Cancel Button -->
                <button type="button" class="flex m-3 bg-yellow-400 bg-opacity-75 disabled:opacity-50 hover:bg-yellow-300 py-4 px-8 shadow-lg rounded-lg">Cancel</button>
                <!-- Create button TODO -->
                <button type="button" class="flex m-3 bg-green-400 bg-opacity-75 disabled:opacity-50 hover:bg-green-300 py-4 px-8 shadow-lg rounded-lg">Create</button>
            </div>
        </div>
        <!-- Puzzle Grid -->
        <div class="ml-8 text-center">
            <div class="bg-gray-100 p-8">
                <h2 class="text-2xl font-semibold mb-8">Choose Puzzle Shape!</h2>
                <table id="table" class="table-fixed border-collapse table-center">
                    <tbody>
                        <tr id="row1"></tr>
                        <tr id="row2"></tr>
                        <tr id="row3"></tr>
                        <tr id="row4"></tr>
                        <tr id="row5"></tr>
                        <tr id="row6"></tr>
                        <tr id="row7"></tr>
                    </tbody>
                </table>

                
                <h2 class="text-2xl font-semibold mt-8 mb-3">Current Score: <span id="score"></span></h2>
            </div>
            <span id='waypoint' class="absolute text-3xl" ><p class="flippedcar">&#128663;</p></span>
            <!-- test -->
            <div class="mt-12">
                <p>Please put 0 for the starting point of the car.</p>
                <P>Do note that the car view is facing upwards at the starting point of the car.</P>
            </div>
        </div>
        


    </div>

</div>
{% endblock %}




































