{% extends "shared/base.html" %}
{% block content %}
<!-- {% include "shared/nav.html" %} -->
    <div class="bg-blue-800 px-3 py-3">
      <a href="/admin">
          <div class="flex-1 md:flex md:items-center md:justify-between">
            <div class="inline-flex justify-center">
              <h2 class="text-4xl font-bold text-white m-0 italic">CarStep</h2>
            </div>
            <div class="inline-flex float-right justify-end w-50 rounded-lg border-gray-300 px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-100 duration-200 hover:backdrop-blur-lg hover:bg-opacity-20 focus:outline-none">
              <h2 class="text-lg font-light text-white m-0 font-bold"><a href="/admin/logout">Logout </a></h2> 
            </div>
          </div>
      </a>
    </div>

<!-- Main Content Body-->
<h2 class="text-center text-3xl font-bold mt-12">Admin Dashboard</h2>
<div class="px-3 py-3  mb-8">
  <h2 class="text-3xl text-center">What would you like to do today?</h2>
</div>

<div class="flex justify-center mt-10">
  <div class="grid gap-8 grid-cols-2 mt-5">
    <!-- Puzzle management admin-->
    <a href="/admin/puzzle">
      <div class="transition duration-500 ease-in-out flex py-24 px-24 text-center bg-yellow-300 hover:bg-yellow-200 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg rounded-lg z-50">
        <h2 class="text-gray-800 font-bold text-5xl ml-8">Puzzle<br>Management</h2>
      </div>
    </a>
    <!-- Profile management admin-->
    <a href="/admin/profile">
      <div class="transition duration-500 ease-in-out flex py-24 px-24 text-center bg-blue-300 hover:bg-blue-200 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg rounded-lg">
        <h2 class="text-gray-800 font-bold text-5xl">User<br>Management</h2>
      </div>
    </a>
  </div>
</div>

{% endblock %}