{% extends "shared/base.html" %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{url_for('static',filename='js/adminProfile.js')}}"></script>
{% endblock %}

{% block content %}
<div class="bg-blue-800 px-3 py-3">
    <h2 class="float-left text-3xl font-light text-white mt-1">
        <a href="/admin">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
        </a>
    </h2>
    <a href="/admin">
        <h2 class="text-4xl py-0 font-bold text-white italic text-center">
            CarStep
        </h2>
    </a>
</div>

<div class="pl-16 pr-16 pt-14 clear-both">        
    <div class="m-auto flex-col items-center justify-center h-screen">
        <h2 class="text-center text-3xl font-semibold text-grag-800 mb-8">User Management</h2>
        <h2 class="text-3xl text-center">Manage user accounts here!</h2>
        <div class="overflow-auto pl-20">
            <div class="flex-col justify-center h-screen pt-6">
                <div class="m-auto float-right pb-3">
                    <!-- create user button -->
                    <button type="button" class="createuser shadow bg-green-300 hover:bg-green-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Create User</button>
                </div>
                <!-- Table for user accounts -->
                <table class="min-w-full border-collapse block md:table shadow">
                    <!-- Table Header -->
                    <thead class="block md:table-header-group">
                        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                            <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">No.</th>
                            <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Username</th>
                            <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Role</th>
                            <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Game Stage</th>
                            <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Total Score</th>
                            <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Actions</th>
                        </tr>
                    </thead>                        
                    <tbody class="block md:table-row-group">
                        <!-- Table Row For Admin -->
                        <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>1</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Username</span>{{admin.name}}</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Role</span>Administrator</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Game Stage</span>-</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Total Score</span>-</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                <!-- Button for Admin to change their own password or Create User -->
                                <button type="button" class="changepass shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Change Password</button>
                                
                            </td>
                        </tr>
                        <!-- Table Row For User -->
                        {% for user in users %}
                        <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>{{loop.index0 + 2}}</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Username</span>{{user.name}}</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Role</span>User</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Game Stage</span>{{user.stage}}</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Total Score</span>{{user.score}}</td>
                            <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                <!-- Button for Admin to edit or delete User -->
                                <button type="button" class="edituser shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out" data-name="{{user.name}}">Edit</button>
                                <button type="button" class="deleteuser shadow bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out" data-name="{{user.name}}">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}	
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}