<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CarStep</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <!-- sweetalert2 -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(document).ready(function(){ 

        
        //create puzzle - TODO
        $('.createpuzzle').on('click', function(e){
            
            //code
            

        });


        //edit puzzle - TODO
        $('.editpuzzle').on('click', function(e){
            
            //code
            
        });

        // view puzzle - TODO
        $('.viewpuzzle').on('click', function(e){
            
            //code
            
        });

        // Delete puzzle
        $('.deletepuzzle').on('click', function(e){
            // put the code here to send array to backend
            Swal.fire({
                title: 'Are you sure you want to delete this puzzle?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                    'Deleted!',
                    'Puzzle has been deleted.',
                    'success'
                    )
                }
            })
        });

    });

    </script>
    </head>
    <!-- Nav Bar -->
    <body>
        <div class="bg-blue-800 px-3 py-3">
            <h2 class="float-left text-3xl font-light text-white mt-1">
                <a href="/admin">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg>
                </a>
            </h2>
            <a href="/admin">
                <h2 class="text-4xl py-0 font-bold text-white italic text-center">
                    CarStep
                </h2>
            </a>
        </div>
        <!-- Container for Content -->
        <div class="container">        
            <div class="m-auto flex-col items-center justify-center h-screen">
                <div class="overflow-auto pl-20">
                    <div class="flex-col justify-center h-screen pt-6">
                        <div class="m-auto flex justify-between pb-3">
                            <div>
                                <h1>Puzzle(s) Found</h1>
                            </div>
                            <div>
                                <!-- create puzzle button TODO -->
                                <a href="/admin/create"><button type="button" class="shadow bg-green-300 hover:bg-green-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-outs">Create Puzzle</button></a>
                            </div>
                        </div>
                        <!-- Table for user accounts -->
                        <table class="min-w-full border-collapse block md:table shadow">
                            <!-- Table Header -->
                            <thead class="block md:table-header-group">
                                <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                                    <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">No.</th>
                                    <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Puzzle ID</th>
                                    <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Puzzle Name</th>
                                    <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Difficulty level</th>
                                    <th class="bg-blue-300 p-2 text-black font-semibold md:border md:border-grey-500 text-left block md:table-cell">Actions</th>
                                </tr>
                            </thead>                        
                            <tbody class="block md:table-row-group">
                                <!-- Table Row For Puzzle -->
                                <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>1</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle ID</span>P00001</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle Name</span>L-Shape Puzzle</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Difficulty Level</span>3</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                        <!-- Button for Admin to View, Edit or Delete Puzzle -->
                                        <button type="button" class="shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">View</button>
                                        <button type="button" class="shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Edit</button>
                                        <button type="button" class="shadow deletepuzzle bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Delete</button>
                                        
                                    </td>
                                </tr>
                                <!-- Table Row For Puzzle -->
                                <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>2</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle ID</span>P00002</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle Name</span>S-Shape Puzzle</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Difficulty Level</span>5</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                        <!-- Button for Admin to View, Edit or Delete Puzzle -->
                                        <button type="button" class="shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">View</button>
                                        <button type="button" class="shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Edit</button>
                                        <button type="button" class="shadow deletepuzzle bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Delete</button>
                                        
                                    </td>
                                </tr>
                                <!-- Table Row For Puzzle -->
                                <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>3</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle ID</span>P00001</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle Name</span>L-Shape Puzzle</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Difficulty Level</span>3</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                        <!-- Button for Admin to View, Edit or Delete Puzzle -->
                                        <button type="button" class="shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">View</button>
                                        <button type="button" class="shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Edit</button>
                                        <button type="button" class="shadow deletepuzzle bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Delete</button>
                                        
                                    </td>
                                </tr>
                                <!-- Table Row For Puzzle -->
                                <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>4</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle ID</span>P00001</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle Name</span>L-Shape Puzzle</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Difficulty Level</span>3</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                        <!-- Button for Admin to View, Edit or Delete Puzzle -->
                                        <button type="button" class="shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">View</button>
                                        <button type="button" class="shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Edit</button>
                                        <button type="button" class="shadow deletepuzzle bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Delete</button>
                                        
                                    </td>
                                </tr>
                                <!-- Table Row For Puzzle -->
                                <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>5</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle ID</span>P00001</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle Name</span>L-Shape Puzzle</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Difficulty Level</span>3</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                        <!-- Button for Admin to View, Edit or Delete Puzzle -->
                                        <button type="button" class="shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">View</button>
                                        <button type="button" class="shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Edit</button>
                                        <button type="button" class="shadow deletepuzzle bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Delete</button>
                                        
                                    </td>
                                </tr>
                                <!-- Table Row For Puzzle -->
                                <tr class="bg-blue-100 border border-grey-500 md:border-none block md:table-row">
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">No.</span>6</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle ID</span>P00001</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Puzzle Name</span>L-Shape Puzzle</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Difficulty Level</span>3</td>
                                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                                        <!-- Button for Admin to View, Edit or Delete Puzzle -->
                                        <button type="button" class="shadow bg-indigo-300 hover:bg-indigo-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">View</button>
                                        <button type="button" class="shadow bg-yellow-200 hover:bg-yellow-300 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Edit</button>
                                        <button type="button" class="shadow deletepuzzle bg-red-300 hover:bg-red-400 text-black font-semibold py-1 px-2 rounded transition transition-colors duration-300 ease-in-out">Delete</button>
                                        
                                    </td>
                                </tr>			
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>