<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarStep</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    {% include "shared/nav.html" %}
    <div class="container">
        {% block content %}
        <div class="flex justify-center mt-10">
            <div class="grid gap-8 grid-cols-3 mt-5">
                <div
                    class="transition duration-500 ease-in-out flex py-28 px-32 text-center bg-blue-300 hover:bg-blue-200 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg rounded-lg">
                    <h2 class="text-gray-800 font-bold text-5xl">Audrey</h2>
                </div>
                <div
                    class="transition duration-500 ease-in-out flex py-28 px-32 text-center bg-indigo-300 hover:bg-indigo-200 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg rounded-lg">
                    <h2 class="text-gray-800 font-bold text-5xl">Bobby</h2>
                </div>
                <div
                    class="transition duration-500 ease-in-out flex py-28 px-32 text-center bg-purple-300 hover:bg-purple-200 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg rounded-lg">
                    <h2 class="text-gray-800 font-bold text-5xl">Charlie</h2>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>