<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarStep</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    <div class="bg-blue-900 px-3 py-1">
        <h2 class="text-3xl font-light text-white m-0">CarStep</h2>
    </div>
    <!-- Selection -->
    <div class="container">
        <div class="grid gap-8 grid-cols-3 mt-5 ">
            <div
                class="transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg">
                <div class="w-3/5 mr-0">
                <h2 class="text-gray-800 font-bold">Alice</h2>
            </div>
            </div>
            <div
                class="transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg"
                class="transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg">
                <div class="w-3/5 mr-0">
                    <h2 class="text-gray-800 font-bold">Bob</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>